@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('./fonts/Colaborate/ColabThi-webfont.eot');
    src: url('./fonts/Colaborate/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Colaborate/ColabThi-webfont.woff') format('woff'),
         url('./fonts/Colaborate/ColabThi-webfont.ttf') format('truetype'),
         url('./fonts/Colaborate/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OstrichSansRoundedMedium';
    src: url('./fonts/Ostrich/ostrich-rounded-webfont.eot');
    src: url('./fonts/Ostrich/ostrich-rounded-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Ostrich/ostrich-rounded-webfont.woff') format('woff'),
         url('./fonts/Ostrich/ostrich-rounded-webfont.ttf') format('truetype'),
         url('./fonts/Ostrich/ostrich-rounded-webfont.svg#OstrichSansRoundedMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


html
{
  width: 100%;
  height: 100%;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0;
  padding: 0;
  
  font-family: HelveticaNeue, Arial, sans-serif;
}


#snaps
{
  background-image: url(../images/test_photos/test_photo_bw.jpg);
  background-size: cover;
}


#snaps a
{
  color: #87afd6;
  text-decoration: none;
}

#snaps a:hover
{
  text-decoration: underline;
}

#snaps h1,
#snaps h2
{
  padding: 0;
  margin: 0;
}


#sn-album, #sn-album-bg
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  
  background-position: top left;
  background-repeat: no-repeat;
}

#sn-album-bg
{
/*  background-image: url(../images/test_photos/test_photo2.jpg); */
  background-image: url(../images/test_photos/test_photo_bw.jpg);
/*    background-image: url(../images/HK_Skyline_1024.jpg); */
}

/* Blur the given element by various means */
.blurred
{
  /* Fake a gaussian blur in webkit by overlaying a png
     with a noisy alpha channel */
/*  -webkit-mask-box-image: url(./turb_mask.png); */

  /* Blur in FF */
  filter: url(./masks.svg#bg_blur);
  
  /* Blur in IE */
  filter: progid:DXImageTransform.Microsoft.Blur(strength=4);
  
  /* CSS3 filters. Arriving 'real soon now' */
  -webkit-filter: blur(4px);
  filter: blur(4px);

}



#sn-album-header
{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 137px;
  
  background-color: rgba(153, 134, 117, 0.3);
}

#sn-album-info
{
  height: 100px;
/*  float: right; */
  color: rgb(247, 242, 235);
  text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
/*  padding: 8px 20px 0px 20px;
  border-bottom: 1px solid rgba(0,0,0,0.2); */
}

#sn-album-info h1
{
  color: rgb(247, 242, 235);
}

#sn-album-name
{
  font-family: "OstrichSansRoundedMedium", "Segoe UI Light", "Segoe UI", sans-serif;
  font-size: 72px;
  font-weight: normal;
  text-align: right;
  height: 72px;
}

#sn-album-info .sn-usr-ctrls
{
  float: left;
  height: 40px;
  line-height: 40px;
  margin-left: 1em;
  margin-top: 15px;
  padding: 0 20px;

  background: rgba(255, 255, 255, 0.1);
  background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  background: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  background: -o-linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));  
  
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,0.5);
  box-shadow: 0px 1px 3px rgba(255,255,255,0.5) inset;
}

.sn-usr-ctrls .sn-usr-ctrl
{
  width: 40px;
  height: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

#sn-album-info .sn-usr-ctrls .sn-usr-ctrl:hover
{
  background-color: rgba(0,0,0,0.4);
}

.sn-show-strip
{
  background-image: url(../images/strip.png);
}

.sn-show-grid
{
  background-image: url(../images/grid.png);
}

.sn-show-friends
{
  background-image: url(../images/friends_small.png);
}

.sn-go-home
{
  background-image: url(../images/home.png);
}

#sn-album-tags
{
  font-family: "ColaborateThinRegular", "Segoe UI Light", "Segoe UI", sans-serif;
/*  font-style: italic; */
  font-size: 20px;
  font-weight: normal;
  text-overflow: ellipsis-word;
  text-align: center;
  overflow: hidden;
  
  height: 26px;
  max-height: 26px;
  
  clear: both;
  background-color: rgba(0,0,0,0.2);
  border-top: 1px solid rgba(0,0,0,0.2);
}

#sn-album-tags .sn-album-tag
{
  padding-left: 1em;
  opacity: 0.9;
  cursor: pointer;
}

#sn-album-tags .sn-album-tag:hover
{
  opacity: 1;
}

#sn-album-tags .sn-album-tag:first-child
{
  padding-left: 0;
}


.sn-photos
{
  position: absolute;
  background-color: rgba(199, 178, 153, 0.3);
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(255,255,255,0.2);
  
/*  padding: 12px;*/
  
  overflow: auto;
  
}



.sn-transition-opacity
{
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;  
  
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease-in;

  -o-transition-property: opacity;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease-in;
}


.sn-photo
{
  width: 220px;
  height: 164px;
  background-position: center center;
  background-origin: border-box;
  background-repeat: no-repeat;
  float: left;
  
  border-style: solid;
  border-width: 1px;
  /*border-color: rgba(199, 178, 153, 0.9) rgba(115, 101, 88, 0.6) rgba(115, 101, 88, 0.6) rgba(199, 178, 153, 0.9); */
  border-color: rgba(255, 255, 255, 0.3) rgba(115, 101, 88, 0.6) rgba(115, 101, 88, 0.6) rgba(255, 255, 255, 0.3);  
  margin: 4px;
  
  box-shadow: 0px 2px 10px rgba(0,0,0, 0.8);
  
  position: relative;
  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  
  border-radius: 3px;
}

.sn-grid-mode .sn-photo
{
  margin: 0.7em;
}

.sn-grid-mode .sn-photo:hover
{
  border-width: 4px;
  border-color: rgba(255,255,255,0.4);
}

#sn-overlay-photo.sn-photo
{
  position: absolute;
  visibility: hidden;
  background-color: rgba(0,0,0,0.4);
  background-size: cover;
  z-index: 100;
  box-shadow: none;
}


.sn-transition-bounds
{
  -webkit-transition-property: width, height;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;  
  
  -moz-transition-property: width, height;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  
  -ms-transition-property: width, height;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease-in;

  -o-transition-property: width, height;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease-in;
}

.sn-photo .sn-legend
{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  
  overflow: auto;
  

  font-family: ColaborateThinRegular, HelveticaNeue, Arial, sans-serif;
  color: rgb(241, 229, 212);
/*  background: rgba(0,0,0,0.3);
  background: -webkit-radial-gradient(left center, cover, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
  background: -moz-radial-gradient(left center, cover, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
  background: -o-radial-gradient(left center, cover, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
  background: -ms-radial-gradient(left center, cover, rgba(0,0,0,0.3), rgba(0,0,0,0.7));*/
  
  background-color: rgba(0,0,0,0.5);
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  background-image: -o-linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  background-image: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));      

  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  border-top: 1px solid rgba(128, 128, 128, 0.1);
  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  
}

.sn-photo.sn-comments-visible .sn-legend
{
  background-image: none;
  box-shadow: none;
  border-top: none;
}

.sn-photo-name
{
  text-shadow: 0px 1px 1px black;
  height: 32px;
  line-height: 32px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  overflow: hidden;
}

.sn-comments-visible .sn-photo-name
{
  padding: 0.5em;
  border-bottom: 1px solid black;
  height: auto;
  line-height: normal;
}

.sn-photo .sn-legend .sn-comment-count
{
  float: right;
  padding: 0.5em;
  text-shadow: 0px 1px 1px black;
  cursor: pointer;
}

.sn-comment-icon
{
  display: inline-block;
  vertical-align: bottom;
  width: 16px;
  height: 16px;
  background: transparent url(../images/comments.png) center center no-repeat;
}

.sn-photo .sn-legend .sn-comment-count:hover
{
  background-color: rgba(255,255,255,0.2);
}

.sn-comment-close
{
  float: right;
  display: none;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

.sn-comment-close:hover
{
  text-shadow: 0px 0px 4px white;
  box-shadow: inset 0px -5px 18px rgba(255,255,255,0.2);
}

.sn-photo-comments
{
  display: none;
  padding: 1em;
  border-top: 1px solid #333;
}

.sn-strip-mode .sn-photo
{
  background-position: 0 0;
  background-size: cover;
}

.sn-photo.sn-comments-visible
{
  background-position: left top;
  background-size: auto 100%;
  background-color: rgba(0,0,0,0.5);
}

.sn-photo.sn-comments-visible .sn-comment-count
{
  display: none;
}

.sn-photo.sn-comments-visible .sn-comment-close
{
  display: block;
}

.sn-photo.sn-comments-visible .sn-legend
{
  height: 100%;
  width: 300px;
  border-left: 1px solid #333;
}

.sn-photo.sn-comments-visible .sn-photo-comments
{
  display: block;
}

#sn-debug-ctrls
{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.sn-defocus
{
  opacity: 0.7;

  /* Blur in FF */
  filter: url(./masks.svg#pic_blur);
  
  /* Blur in IE */
  filter: progid:DXImageTransform.Microsoft.Blur(strength=2);
  

  /* CSS3 filters. Arriving 'real soon now' */
  -webkit-filter: blur(2px);
  filter: blur(2px);
  
}

#sn-photo-info
{
  background-color: rgba(50, 48, 46, 0.9);
  position: absolute;
  width: 320px;

  z-index: 200;
  overflow: auto;
  top: 137px;
  left: 0; 
  bottom: 0;
  
  display: none;
  
  border-color: rgba(255, 255, 255, 0.3) rgba(115, 101, 88, 0.6) rgba(115, 101, 88, 0.6) rgba(255, 255, 255, 0.3);
  border-width: 1px;
  border-style: solid;
  box-shadow: 2px 0 4px #222;
}

#sn-photo-info h1
{
    height: 37px;
    color: rgb(241, 229, 212);
  font-family: "ColaborateThinRegular", "Segoe UI Light", "Segoe UI", sans-serif;
  font-size: 18px;
  font-weight: normal;
}

#sn-photo-name,
#sn-comment-count
{
    position: relative;
    top: 0.4em;
    height: 26px;
}

#sn-photo-comments
{
  clear: both;
  padding-top: 8px;
  display: none;
}

.sn-comment
{
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
  display: table;
  
  font-size: 13px;
  color: #eee;

  padding-top: 1.2em;
  padding-right: 1.1em;
}

.sn-stamp
{
  display: table-cell;
/*  width:56px; */
  text-align: left;
  vertical-align: middle;
  padding-right: 1em;
}

.sn-author-pic
{
  width: 32px;
  height: 32px;
/*  box-shadow: 0 2px 2px rgba(0,0,0,0.65); */
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3) rgba(115, 101, 88, 0.6) rgba(115, 101, 88, 0.6) rgba(255, 255, 255, 0.3);
}

.sn-comment-text
{
  display: table-cell;
  vertical-align: top;
  padding-right: 16px;
}

.sn-author
{
    font-weight: bold;
    padding-right: 0.5em;
}

#sn-facebook-login
{
  position: absolute;
  width: 300px;
  height: 150px;
  
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  
  text-align: center;
  
  background-color: rgba(50, 48, 46, 0.9);
  z-index: 200;
  
  padding: 1em;
  
  left: 50%;
  top: 150px;
  margin-left: -150px;
  
  border-radius: 8px;
  border: 8px solid rgba(255, 255, 255, 0.2);
}


#sn-facebook-login .sn-login-button
{
  display: inline-block;
}


#sn-facebook-login .sn-dialog-instructions,
#sn-facebook-login .sn-authenticating-message
{
  font-size: 13px;
  color: rgb(241, 229, 212);
  text-align: left;
  padding: 1em;
}

#sn-facebook-login .sn-authenticating-message
{
  display: none;
}

#sn-facebook-login.j-authenticating .sn-authenticating-message
{
  display: block;
}

#sn-facebook-login.j-authenticated,
#sn-facebook-login.j-checking-auth
{
  display: none;
}


#sn-nav-ctrls
{
  position: absolute;
  
  font-family: "ColaborateThinRegular","Segoe UI Light","Segoe UI",sans-serif;
  font-size: 24px;

  height: 26px;
  padding: 8px;
  
  color: #453d35;
  
/*  left: 20px; */
  top: 8px;
}

#sn-back
{
/*   background-color: rgba(216, 209, 203, 0.5); */
   height: 26px;
   line-height: 26px;
   padding: 8px;
   
/*  border-top-left-radius: 8px; */
  border-bottom-left-radius: 8px;
  margin-right: 1px;
  border: 1px solid rgba(216, 209, 203, 0.5);
}

#sn-back:hover,
.j-logout-button:hover
{
  cursor: pointer;
  background-color: rgba(0,0,0,0.5);
}

.j-logout-button
{
/*   background-color: rgba(216, 209, 203, 0.5);
  float: right;
   height: 26px;
   line-height: 26px;
   padding: 8px;
   
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; 
  border: 1px solid rgba(216, 209, 203, 0.5);
  */
  
  color: #ccc;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  vertical-align: top;
  padding: 0 1em;
}

#sn-nav-ctrls.j-unauthenticated .j-logout-button
{
  display: none;
}

.sn-grid-mode .sn-show-grid
{
  display: none;
}

.sn-strip-mode .sn-show-strip
{
  display: none;
}

#sn-progress-message
{
  background-color: rgba(216, 209, 203, 0.5);
  position: absolute;
  
  font-family: "ColaborateThinRegular","Segoe UI Light","Segoe UI",sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: normal;
  height: 26px;
  overflow: hidden;
  
  padding: 8px;
  border-radius: 8px;
  
  color: #453d35;
  
  left: 20px;
  top: 86px;
}


.sn-no-name,
.sn-no-comments
{
    font-style: italic;
    color: rgba(165, 156, 145, 0.5) !important;
    font-family: "ColaborateThinRegular", "Segoe UI Light", "Segoe UI", sans-serif;
    text-align: center;
}

.sn-no-comments
{
  margin-top: 100px;
}

#sn-curr-photo
{
    float: left;
    width: 73px;
    height: 54px;
    margin-right: 16px;
    
    background-origin: border-box;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.2);

    margin-top: 1px;
    border-bottom-right-radius:6px;
}

.sn-info
{
  text-align: center;
  color: rgb(247, 242, 235);
  background: rgba(0,0,0,0.4);
  padding: 0.3em 0;
  border-bottom: 1px solid rgba(0,0,0,0.4);
}

.sn-veil
{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  font-family: "OstrichSansRoundedMedium", "Segoe UI Light", "Segoe UI", sans-serif;
  font-size: 72px;
  color: rgb(247, 242, 235);
  vertical-align: middle;
  text-align: center;

  background: rgba(0,0,0,0.5);
  background: -webkit-radial-gradient(center center, cover, rgba(0,0,0,0.5), black 80%);
  
  z-index: 100;
  
  
}

.sn-veil-message
{
  position: absolute;
  width: 100%;
  top: 50%;
  padding: .25em 0;

  vertical-align: middle;
  text-align: center;
  
  background: rgba(0,0,0,0.5);
  
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #222;
  
  text-shadow: 0 0 4px rgba(247, 242, 235, 0.1);
}

.sn-user-info
{
  float: right;
}

.sn-user-info .sn-go-home
{
  position: relative;
  top: -8px;
}