@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('./fonts/Colaborate/ColabThi-webfont.eot');
    src: url('./fonts/Colaborate/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Colaborate/ColabThi-webfont.woff') format('woff'),
         url('./fonts/Colaborate/ColabThi-webfont.ttf') format('truetype'),
         url('./fonts/Colaborate/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OstrichSansRoundedMedium';
    src: url('./fonts/Ostrich/ostrich-rounded-webfont.eot');
    src: url('./fonts/Ostrich/ostrich-rounded-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Ostrich/ostrich-rounded-webfont.woff') format('woff'),
         url('./fonts/Ostrich/ostrich-rounded-webfont.ttf') format('truetype'),
         url('./fonts/Ostrich/ostrich-rounded-webfont.svg#OstrichSansRoundedMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


html
{
  width: 100%;
  height: 100%;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0;
  padding: 0;
  
  font-family: HelveticaNeue, Arial, sans-serif;
}

h1, h2
{
  padding: 0;
  margin: 0;
}

#sn-album, #sn-album-bg
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  
  background-position: top left;
  background-repeat: no-repeat;
}

#sn-album-bg
{
  background-image: url(../images/test_photos/test_photo2.jpg);
/*    background-image: url(../images/HK_Skyline_1024.jpg); */
}

/* Blur the given element by various means */
.blurred
{
  /* Fake a gaussian blur in webkit by overlaying a png
     with a noisy alpha channel */
/*  -webkit-mask-box-image: url(./turb_mask.png); */

  /* Blur in FF */
  filter: url(./masks.svg#bg_blur);
  
  /* Blur in IE */
  filter: progid:DXImageTransform.Microsoft.Blur(strength=4);
  
  /* CSS3 filters. Arriving 'real soon now' */
  -webkit-filter: blur(4px);
  filter: blur(4px);

}



#sn-album-header
{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 137px;
  
  background-color: rgba(153, 134, 117, 0.3);
}

#sn-album-info
{
  height: 137px;
  float: right;
  color: rgb(247, 242, 235);
  text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
  padding: 8px 20px 0px 20px;
}

#sn-album-name
{
  font-family: "OstrichSansRoundedMedium", "Segoe UI Light", "Segoe UI", sans-serif;
  font-size: 72px;
  font-weight: normal;
  text-align: right;
}

#sn-album-tags
{
  font-family: "ColaborateThinRegular", "Segoe UI Light", "Segoe UI", sans-serif;
  font-style: italic;
  font-size: 24px;
  font-weight: normal;
  text-overflow: ellipsis-word;
  overflow: hidden;
  
  height: 26px;
  max-height: 26px;  
}

#sn-album-tags .sn-album-tag
{
  padding-left: 1em;
}

#sn-album-tags .sn-album-tag:first-child
{
  padding-left: 0;
}


#sn-photos
{
  position: absolute;
  background-color: rgba(199, 178, 153, 0.3);
  top: 137px;
  bottom: 0;
  left: 0;
  right: 0;
  
  padding: 12px;
  
  overflow: auto;
}

.sn-strip-mode #sn-photo-holder
{
  padding-left: 320px;
}

.sn-strip-mode #sn-photo-info
{
    display: block;
}

.sn-transition-opacity
{
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;  
  
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease-in;

  -o-transition-property: opacity;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease-in;
}


.sn-photo
{
  width: 220px;
  height: 164px;
  background-position: center center;
  background-origin: border-box;
  float: left;
  
  border-style: solid;
  border-width: 1px;
  /*border-color: rgba(199, 178, 153, 0.9) rgba(115, 101, 88, 0.6) rgba(115, 101, 88, 0.6) rgba(199, 178, 153, 0.9); */
  border-color: rgba(255, 255, 255, 0.3) rgba(115, 101, 88, 0.6) rgba(115, 101, 88, 0.6) rgba(255, 255, 255, 0.3);  
  margin: 4px;
  
  box-shadow: 0px 2px 4px rgba(115, 101, 88, 1);
  
  position: relative;
}

#sn-overlay-photo.sn-photo
{
  position: absolute;
  visibility: hidden;
  background-color: rgba(0,0,0,0.4);
  background-size: cover;
  z-index: 100;
  box-shadow: none;
}


.sn-transition-bounds
{
  -webkit-transition-property: width, height;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;  
  
  -moz-transition-property: width, height;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  
  -ms-transition-property: width, height;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease-in;

  -o-transition-property: width, height;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease-in;
}

#sn-photos .sn-photo .sn-legend
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  
  padding: 0px 8px;

  font-family: ColaborateThinRegular, HelveticaNeue, Arial, sans-serif;
  color: rgb(241, 229, 212);
  background-color: rgba(0,0,0,0.3);
  display: none
}

#sn-photos .sn-photo:hover .sn-legend
{
  display: block;
}

#sn-photos.sn-strip-mode .sn-photo
{
  background-position: 0 0;
  background-size: cover;
}


#sn-debug-ctrls
{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.sn-defocus
{
  opacity: 0.7;

  /* Blur in FF */
  filter: url(./masks.svg#pic_blur);
  
  /* Blur in IE */
  filter: progid:DXImageTransform.Microsoft.Blur(strength=2);
  

  /* CSS3 filters. Arriving 'real soon now' */
  -webkit-filter: blur(2px);
  filter: blur(2px);
  
}

#sn-photo-info
{
    background-color: rgba(50, 48, 46, 0.9);
    position: fixed;
  width: 320px;
  height: 100%;
  z-index: 200;
  overflow: auto;
  top: 137px;
  left: 0; 
  
  display: none;ooo
}

#sn-photo-info h1
{
    height: 37px;
    color: rgb(241, 229, 212);
  font-family: "ColaborateThinRegular", "Segoe UI Light", "Segoe UI", sans-serif;
  font-size: 18px;
  font-weight: normal;
}

#sn-photo-name
{
    position: relative;
    top: 0.4em;
}

#sn-photo-comments
{
  clear: both;
    padding-top: 8px;
}

.sn-comment
{
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
  display: table;
  
  font-size: 13px;
  color: #eee;

  padding-top: 1.2em;
  padding-right: 1.1em;
}

.sn-stamp
{
  display: table-cell;
  width:56px;
  text-align: center;
  vertical-align: top;
}

.sn-author-pic
{
  width: 32px;
  height: 32px;
/*  box-shadow: 0 2px 2px rgba(0,0,0,0.65); */
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3) rgba(115, 101, 88, 0.6) rgba(115, 101, 88, 0.6) rgba(255, 255, 255, 0.3);
}

.sn-comment-text
{
  display: table-cell;
  vertical-align: top;
  padding-right: 16px;
}

.sn-author
{
    font-weight: bold;
    padding-right: 0.5em;
}

#sn-facebook-login
{
  position: absolute;
  width: 300px;
  height: 150px;
  
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  
  text-align: center;
  
  background-color: rgba(50, 48, 46, 0.9);
  z-index: 200;
  
  padding: 1em;
  
  left: 50%;
  top: 150px;
  margin-left: -150px;
  
  border-radius: 8px;
  border: 8px solid rgba(255, 255, 255, 0.2);
}


#sn-facebook-login .sn-login-button
{
  display: inline-block;
}


#sn-facebook-login .sn-dialog-instructions,
#sn-facebook-login .sn-authenticating-message
{
  font-size: 13px;
  color: rgb(241, 229, 212);
  text-align: left;
  padding: 1em;
}

#sn-facebook-login .sn-authenticating-message
{
  display: none;
}

#sn-facebook-login.j-authenticating .sn-authenticating-message
{
  display: block;
}

#sn-facebook-login.j-authenticated
{
  display: none;
}


#sn-progress-message
{
  background-color: rgba(216, 209, 203, 0.5);
  position: absolute;
  
  font-family: "ColaborateThinRegular","Segoe UI Light","Segoe UI",sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: normal;
  height: 26px;
  overflow: hidden;
  
  padding: 8px;
  border-radius: 8px;
  
  color: #453d35;
  
  left: 20px;
  top: 86px;
}

.sn-no-name,
.sn-no-comments
{
    font-style: italic;
    color: rgba(165, 156, 145, 0.5) !important;
    font-family: "ColaborateThinRegular", "Segoe UI Light", "Segoe UI", sans-serif;
    text-align: center;
}

#sn-curr-photo
{
    float: left;
    width: 73px;
    height: 54px;
    margin-right: 16px;
    
    background-origin: border-box;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.2);

    margin-top: 1px;
    border-bottom-right-radius:6px;
}